<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>statuses</key>
	<array>
		<dict>
			<key>attitudes_count</key>
			<integer>0</integer>
			<key>comments_count</key>
			<integer>0</integer>
			<key>created_at</key>
			<string>Thu Oct 16 17:06:25 +0800 2014</string>
			<key>idstr</key>
			<string>3766346254704913</string>
			<key>pic_urls</key>
			<array>
				<dict>
					<key>thumbnail_pic</key>
					<string>http://ww1.sinaimg.cn/thumbnail/9c6c023bjw1eld3z6rmzqj21kw2dctmf.jpg</string>
				</dict>
				<dict>
					<key>thumbnail_pic</key>
					<string>http://ww2.sinaimg.cn/thumbnail/9c6c023bjw1eld3z7ya8oj21kw2dcn91.jpg</string>
				</dict>
				<dict>
					<key>thumbnail_pic</key>
					<string>http://ww1.sinaimg.cn/thumbnail/9c6c023bjw1eld3z9wziwj21kw2dck3w.jpg</string>
				</dict>
				<dict>
					<key>thumbnail_pic</key>
					<string>http://ww1.sinaimg.cn/thumbnail/9c6c023bjw1eld3zbni7gj21kw2dcqo3.jpg</string>
				</dict>
			</array>
			<key>reposts_count</key>
			<integer>0</integer>
			<key>source</key>
			<string>&lt;a href="http://weibo.com/" rel="nofollow"&gt;微博 weibo.com&lt;/a&gt;</string>
			<key>text</key>
			<string>保持阳光心态，积极面对人生。每个人，都沿着不同的轨道在活着，人生是一趟单程车，我们最应该做的，就是好好善待自己，珍惜今天，期待明天。图：上海可爱女孩@_Ayaka_</string>
			<key>user</key>
			<dict>
				<key>idstr</key>
				<string>2624324155</string>
				<key>mbrank</key>
				<integer>5</integer>
				<key>mbtype</key>
				<integer>13</integer>
				<key>name</key>
				<string>美女总工会</string>
				<key>profile_image_url</key>
				<string>http://tp4.sinaimg.cn/2624324155/50/22877893627/0</string>
				<key>vip</key>
				<integer>1</integer>
			</dict>
		</dict>
		<dict>
			<key>attitudes_count</key>
			<integer>13</integer>
			<key>comments_count</key>
			<integer>4</integer>
			<key>created_at</key>
			<string>Thu Oct 16 17:06:07 +0800 2014</string>
			<key>idstr</key>
			<string>3766346179542626</string>
			<key>pic_urls</key>
			<array>
				<dict>
					<key>thumbnail_pic</key>
					<string>http://ww1.sinaimg.cn/thumbnail/62037b5ajw1eld3ztjbzvj20c8082gmd.jpg</string>
				</dict>
			</array>
			<key>reposts_count</key>
			<integer>6</integer>
			<key>source</key>
			<string>&lt;a href="http://app.weibo.com/t/feed/62N3i" rel="nofollow"&gt;冷笑话精选&lt;/a&gt;</string>
			<key>text</key>
			<string>这应该是我最喜欢的一道菜了。。。[呵呵]</string>
			<key>user</key>
			<dict>
				<key>idstr</key>
				<string>1644395354</string>
				<key>mbrank</key>
				<integer>6</integer>
				<key>mbtype</key>
				<integer>12</integer>
				<key>name</key>
				<string>冷笑话精选</string>
				<key>profile_image_url</key>
				<string>http://tp3.sinaimg.cn/1644395354/50/40045519133/1</string>
				<key>vip</key>
				<integer>1</integer>
			</dict>
		</dict>
		<dict>
			<key>attitudes_count</key>
			<integer>16</integer>
			<key>comments_count</key>
			<integer>2</integer>
			<key>created_at</key>
			<string>Thu Oct 16 17:05:38 +0800 2014</string>
			<key>idstr</key>
			<string>3766346057555531</string>
			<key>pic_urls</key>
			<array>
				<dict>
					<key>thumbnail_pic</key>
					<string>http://ww1.sinaimg.cn/thumbnail/67dd74e0gw1eld3zb42qqj20c80c80v8.jpg</string>
				</dict>
			</array>
			<key>reposts_count</key>
			<integer>9</integer>
			<key>source</key>
			<string>&lt;a href="http://weibo.com/" rel="nofollow"&gt;微博 weibo.com&lt;/a&gt;</string>
			<key>text</key>
			<string>每个人都不希望别人从他人口中了解自己，口口相传的误会是灾难性的。可你回头想想，问问自己，是否也曾经因为别人的一句话，对陌生人心存芥蒂。以己度人，多反思，收起你的自以为是和小心机，也许路就会更宽一点。—— 咸贵人</string>
			<key>user</key>
			<dict>
				<key>idstr</key>
				<string>1742566624</string>
				<key>mbrank</key>
				<integer>6</integer>
				<key>mbtype</key>
				<integer>12</integer>
				<key>name</key>
				<string>思想聚焦</string>
				<key>profile_image_url</key>
				<string>http://tp1.sinaimg.cn/1742566624/50/22842133580/1</string>
				<key>vip</key>
				<integer>1</integer>
			</dict>
		</dict>
		<dict>
			<key>attitudes_count</key>
			<integer>0</integer>
			<key>comments_count</key>
			<integer>1</integer>
			<key>created_at</key>
			<string>Thu Oct 16 17:05:34 +0800 2014</string>
			<key>idstr</key>
			<string>3766346040703175</string>
			<key>pic_urls</key>
			<array>
				<dict>
					<key>thumbnail_pic</key>
					<string>http://ww1.sinaimg.cn/thumbnail/9be2329dgw1eld0lxuqp6g202s04h426.gif</string>
				</dict>
			</array>
			<key>reposts_count</key>
			<integer>1</integer>
			<key>source</key>
			<string>&lt;a href="http://weibo.com/" rel="nofollow"&gt;微博 weibo.com&lt;/a&gt;</string>
			<key>text</key>
			<string>工作不行，恋爱不行，化妆不行，唱K不行，长相不行，身材不行，经济实力不行。我一直都在思考一个问题：到底是什么支撑我活了这么多年。。。[拜拜]</string>
			<key>user</key>
			<dict>
				<key>idstr</key>
				<string>2615292573</string>
				<key>mbrank</key>
				<integer>6</integer>
				<key>mbtype</key>
				<integer>12</integer>
				<key>name</key>
				<string>幽默搞笑家</string>
				<key>profile_image_url</key>
				<string>http://tp2.sinaimg.cn/2615292573/50/40048199418/1</string>
				<key>vip</key>
				<integer>1</integer>
			</dict>
		</dict>
		<dict>
			<key>attitudes_count</key>
			<integer>0</integer>
			<key>comments_count</key>
			<integer>0</integer>
			<key>created_at</key>
			<string>Thu Oct 16 17:05:24 +0800 2014</string>
			<key>idstr</key>
			<string>3766345994908290</string>
			<key>pic_urls</key>
			<array>
				<dict>
					<key>thumbnail_pic</key>
					<string>http://ww2.sinaimg.cn/thumbnail/a3255108jw1eld3z2mjy7j20dw0dw75t.jpg</string>
				</dict>
			</array>
			<key>reposts_count</key>
			<integer>0</integer>
			<key>source</key>
			<string>&lt;a href="http://app.weibo.com/t/feed/2llosp" rel="nofollow"&gt;OPPO_N1mini&lt;/a&gt;</string>
			<key>text</key>
			<string>我们之所以会心累，就是常常徘徊在坚持和放弃之间；我们之所以会痛苦，就是追求的太多；不是我们拥有的太少，而是我们计较的太多。多数的错失，是因为不坚持，不努力，不挽留，然后催眠自己说一切都是命运。  #高校千万打造封神台#</string>
			<key>user</key>
			<dict>
				<key>idstr</key>
				<string>2737131784</string>
				<key>mbrank</key>
				<integer>4</integer>
				<key>mbtype</key>
				<integer>12</integer>
				<key>name</key>
				<string>励志短文</string>
				<key>profile_image_url</key>
				<string>http://tp1.sinaimg.cn/2737131784/50/40062468141/0</string>
				<key>vip</key>
				<integer>1</integer>
			</dict>
		</dict>
		<dict>
			<key>attitudes_count</key>
			<integer>5</integer>
			<key>comments_count</key>
			<integer>1</integer>
			<key>created_at</key>
			<string>Thu Oct 16 17:05:13 +0800 2014</string>
			<key>idstr</key>
			<string>3766345952690145</string>
			<key>pic_urls</key>
			<array/>
			<key>reposts_count</key>
			<integer>0</integer>
			<key>retweeted_status</key>
			<dict>
				<key>attitudes_count</key>
				<integer>62</integer>
				<key>comments_count</key>
				<integer>73</integer>
				<key>created_at</key>
				<string>Thu Oct 16 16:38:37 +0800 2014</string>
				<key>idstr</key>
				<string>3766339258462654</string>
				<key>pic_urls</key>
				<array/>
				<key>reposts_count</key>
				<integer>94</integer>
				<key>source</key>
				<string>&lt;a href="http://app.weibo.com/t/feed/3G5oUM" rel="nofollow"&gt;iPhone 5s&lt;/a&gt;</string>
				<key>text</key>
				<string>北京地铁据说要涨价了，教大家一个省钱的办法。比如你从A出发，去B上班，那就找一个从B出发，去A上班的小伙伴。途中微信联系，约好在同一站下车，互换交通卡，搞定！下班的时候同样的办法换回来，单途最高可省7元，一天14元，一个月300元，一年省3600元。</string>
				<key>user</key>
				<dict>
					<key>idstr</key>
					<string>1154814715</string>
					<key>mbrank</key>
					<integer>5</integer>
					<key>mbtype</key>
					<integer>13</integer>
					<key>name</key>
					<string>金融八卦女</string>
					<key>profile_image_url</key>
					<string>http://tp4.sinaimg.cn/1154814715/50/40047047246/0</string>
					<key>vip</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>source</key>
			<string>&lt;a href="http://app.weibo.com/t/feed/2XqJO3" rel="nofollow"&gt;UC浏览器&lt;/a&gt;</string>
			<key>text</key>
			<string>思想穷，一世穷，不怕人穷，只怕穷相。</string>
			<key>user</key>
			<dict>
				<key>idstr</key>
				<string>2537882762</string>
				<key>mbrank</key>
				<integer>6</integer>
				<key>mbtype</key>
				<integer>12</integer>
				<key>name</key>
				<string>面相与命运</string>
				<key>profile_image_url</key>
				<string>http://tp3.sinaimg.cn/2537882762/50/40051541732/1</string>
				<key>vip</key>
				<integer>1</integer>
			</dict>
		</dict>
		<dict>
			<key>attitudes_count</key>
			<integer>8</integer>
			<key>comments_count</key>
			<integer>28</integer>
			<key>created_at</key>
			<string>Thu Oct 16 17:05:13 +0800 2014</string>
			<key>idstr</key>
			<string>3766345952616056</string>
			<key>pic_urls</key>
			<array>
				<dict>
					<key>thumbnail_pic</key>
					<string>http://ww4.sinaimg.cn/thumbnail/c0788b86jw1eld3yuza3aj20c41i4446.jpg</string>
				</dict>
			</array>
			<key>reposts_count</key>
			<integer>29</integer>
			<key>source</key>
			<string>&lt;a href="http://weibo.com/" rel="nofollow"&gt;微博 weibo.com&lt;/a&gt;</string>
			<key>text</key>
			<string>十秒钟测出最适合你的外号，响亮酷炫，优雅大气，走在街上被人喊，瞬间成为焦点……（规则：姓氏首字母+名字首字母，如杨幂为Y+M，张学友为Z+X）</string>
			<key>user</key>
			<dict>
				<key>idstr</key>
				<string>3229125510</string>
				<key>mbrank</key>
				<integer>5</integer>
				<key>mbtype</key>
				<integer>12</integer>
				<key>name</key>
				<string>小野妹子学吐槽</string>
				<key>profile_image_url</key>
				<string>http://tp3.sinaimg.cn/3229125510/50/5693916311/1</string>
				<key>vip</key>
				<integer>1</integer>
			</dict>
		</dict>
		<dict>
			<key>attitudes_count</key>
			<integer>2</integer>
			<key>comments_count</key>
			<integer>0</integer>
			<key>created_at</key>
			<string>Thu Oct 16 17:05:03 +0800 2014</string>
			<key>idstr</key>
			<string>3766345910667503</string>
			<key>pic_urls</key>
			<array>
				<dict>
					<key>thumbnail_pic</key>
					<string>http://ww4.sinaimg.cn/thumbnail/7a91e697gw1elcuv2huitg206y03xqpu.gif</string>
				</dict>
				<dict>
					<key>thumbnail_pic</key>
					<string>http://ww3.sinaimg.cn/thumbnail/7a91e697gw1elcuv3m6tag208w050qpe.gif</string>
				</dict>
				<dict>
					<key>thumbnail_pic</key>
					<string>http://ww2.sinaimg.cn/thumbnail/7a91e697gw1elcuv50lk2g208w050e4s.gif</string>
				</dict>
				<dict>
					<key>thumbnail_pic</key>
					<string>http://ww1.sinaimg.cn/thumbnail/7a91e697gw1elcuv7x6jhg206y03x1kx.gif</string>
				</dict>
				<dict>
					<key>thumbnail_pic</key>
					<string>http://ww1.sinaimg.cn/thumbnail/7a91e697gw1elcuv9c99cg206y03xtwd.gif</string>
				</dict>
				<dict>
					<key>thumbnail_pic</key>
					<string>http://ww4.sinaimg.cn/thumbnail/7a91e697gw1elcuvagpdng206y03xtub.gif</string>
				</dict>
				<dict>
					<key>thumbnail_pic</key>
					<string>http://ww4.sinaimg.cn/thumbnail/7a91e697gw1elcuvbs9itg206y03x000.gif</string>
				</dict>
				<dict>
					<key>thumbnail_pic</key>
					<string>http://ww1.sinaimg.cn/thumbnail/7a91e697gw1elcuvdfjj0g208w0507wh.gif</string>
				</dict>
				<dict>
					<key>thumbnail_pic</key>
					<string>http://ww2.sinaimg.cn/thumbnail/7a91e697gw1elcuvefmftg206y03x7ne.gif</string>
				</dict>
			</array>
			<key>reposts_count</key>
			<integer>5</integer>
			<key>source</key>
			<string>&lt;a href="http://weibo.com/" rel="nofollow"&gt;微博 weibo.com&lt;/a&gt;</string>
			<key>text</key>
			<string>几个动作收缩你的腰部 ..再见水桶腰[心]</string>
			<key>user</key>
			<dict>
				<key>idstr</key>
				<string>2056382103</string>
				<key>mbrank</key>
				<integer>4</integer>
				<key>mbtype</key>
				<integer>12</integer>
				<key>name</key>
				<string>美容健康贴士</string>
				<key>profile_image_url</key>
				<string>http://tp4.sinaimg.cn/2056382103/50/22867835098/0</string>
				<key>vip</key>
				<integer>1</integer>
			</dict>
		</dict>
		<dict>
			<key>attitudes_count</key>
			<integer>0</integer>
			<key>comments_count</key>
			<integer>0</integer>
			<key>created_at</key>
			<string>Thu Oct 16 17:04:45 +0800 2014</string>
			<key>idstr</key>
			<string>3766345839898086</string>
			<key>pic_urls</key>
			<array/>
			<key>reposts_count</key>
			<integer>0</integer>
			<key>retweeted_status</key>
			<dict>
				<key>attitudes_count</key>
				<integer>10</integer>
				<key>comments_count</key>
				<integer>3</integer>
				<key>created_at</key>
				<string>Thu Oct 16 12:55:05 +0800 2014</string>
				<key>idstr</key>
				<string>3766283009083284</string>
				<key>pic_urls</key>
				<array>
					<dict>
						<key>thumbnail_pic</key>
						<string>http://ww2.sinaimg.cn/thumbnail/7e5d37a8jw1elcwqm25vjj20dw09awfy.jpg</string>
					</dict>
					<dict>
						<key>thumbnail_pic</key>
						<string>http://ww3.sinaimg.cn/thumbnail/7e5d37a8jw1elcwqm2coxj20m80dagpg.jpg</string>
					</dict>
					<dict>
						<key>thumbnail_pic</key>
						<string>http://ww2.sinaimg.cn/thumbnail/7e5d37a8jw1elcwqmammij20hs0qo78i.jpg</string>
					</dict>
					<dict>
						<key>thumbnail_pic</key>
						<string>http://ww1.sinaimg.cn/thumbnail/7e5d37a8jw1elcwqmg9jyj20go0ciaaq.jpg</string>
					</dict>
					<dict>
						<key>thumbnail_pic</key>
						<string>http://ww2.sinaimg.cn/thumbnail/7e5d37a8jw1elcwqmgsknj20qo0hsdia.jpg</string>
					</dict>
					<dict>
						<key>thumbnail_pic</key>
						<string>http://ww2.sinaimg.cn/thumbnail/7e5d37a8jw1elcwqmmyo1j20go0b3abr.jpg</string>
					</dict>
					<dict>
						<key>thumbnail_pic</key>
						<string>http://ww2.sinaimg.cn/thumbnail/7e5d37a8jw1elcwqmqmm8j20m80esgod.jpg</string>
					</dict>
					<dict>
						<key>thumbnail_pic</key>
						<string>http://ww2.sinaimg.cn/thumbnail/7e5d37a8jw1elcwqmuk67j20m80dcn0b.jpg</string>
					</dict>
					<dict>
						<key>thumbnail_pic</key>
						<string>http://ww2.sinaimg.cn/thumbnail/7e5d37a8jw1elcwqmzcntj20go0m8whe.jpg</string>
					</dict>
				</array>
				<key>reposts_count</key>
				<integer>43</integer>
				<key>source</key>
				<string>&lt;a href="http://app.weibo.com/t/feed/3auC5p" rel="nofollow"&gt;皮皮时光机&lt;/a&gt;</string>
				<key>text</key>
				<string>山村的秋天，阴天并不多见，却美得如梦似幻。天上的流云灰蒙蒙的，与地上的轻烟融合。天地没有界限，一半是浮云一半是烟霭。山朦胧,水朦胧,楼朦胧,树朦胧,鸟朦胧,人朦胧...仿佛渺远的岁月，悠长的时光，没有尽头。阴而不沉，一切都是薄薄的，轻轻的。村民行走在流云雾霭的山路上，像在美丽的梦中穿行。</string>
				<key>user</key>
				<dict>
					<key>idstr</key>
					<string>2120038312</string>
					<key>mbrank</key>
					<integer>0</integer>
					<key>mbtype</key>
					<integer>0</integer>
					<key>name</key>
					<string>农民狗蛋的田园生活</string>
					<key>profile_image_url</key>
					<string>http://tp1.sinaimg.cn/2120038312/50/22881022585/1</string>
					<key>vip</key>
					<integer>0</integer>
				</dict>
			</dict>
			<key>source</key>
			<string>&lt;a href="http://weibo.com/" rel="nofollow"&gt;微博 weibo.com&lt;/a&gt;</string>
			<key>text</key>
			<string>烟雨中，雾千重，冷夜罢梦，怜那花叶不相逢。描笔勾销相思浓，埋首繁卷，再叹词穷。寻尽人间百花丛，不解烟雨嫁东风，朦胧，朦胧，谁可应梦。</string>
			<key>user</key>
			<dict>
				<key>idstr</key>
				<string>2283406765</string>
				<key>mbrank</key>
				<integer>6</integer>
				<key>mbtype</key>
				<integer>11</integer>
				<key>name</key>
				<string>焦点联播</string>
				<key>profile_image_url</key>
				<string>http://tp2.sinaimg.cn/2283406765/50/40049310336/1</string>
				<key>vip</key>
				<integer>1</integer>
			</dict>
		</dict>
		<dict>
			<key>attitudes_count</key>
			<integer>0</integer>
			<key>comments_count</key>
			<integer>0</integer>
			<key>created_at</key>
			<string>Thu Oct 16 17:04:14 +0800 2014</string>
			<key>idstr</key>
			<string>3766345710171275</string>
			<key>pic_urls</key>
			<array>
				<dict>
					<key>thumbnail_pic</key>
					<string>http://ww1.sinaimg.cn/thumbnail/bab57b9bjw1eld3xvnbsvj206q08274j.jpg</string>
				</dict>
			</array>
			<key>reposts_count</key>
			<integer>0</integer>
			<key>source</key>
			<string>&lt;a href="http://app.weibo.com/t/feed/2o92Kh" rel="nofollow"&gt;vivo_Xplay&lt;/a&gt;</string>
			<key>text</key>
			<string>1931年3月26日 (农历二月初八)，日本军人为发动侵华战争造舆论。日本关东军高级参谋板垣征四郎大佐在日本陆军学校讲话，鼓吹占领满蒙（中国东北）对于决定“日本国命运”的重大意义。</string>
			<key>user</key>
			<dict>
				<key>idstr</key>
				<string>3132455835</string>
				<key>mbrank</key>
				<integer>0</integer>
				<key>mbtype</key>
				<integer>0</integer>
				<key>name</key>
				<string>全球知名博主</string>
				<key>profile_image_url</key>
				<string>http://tp4.sinaimg.cn/3132455835/50/5698235219/0</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
		</dict>
		<dict>
			<key>attitudes_count</key>
			<integer>11</integer>
			<key>comments_count</key>
			<integer>5</integer>
			<key>created_at</key>
			<string>Thu Oct 16 17:04:04 +0800 2014</string>
			<key>idstr</key>
			<string>3766345663258871</string>
			<key>pic_urls</key>
			<array>
				<dict>
					<key>thumbnail_pic</key>
					<string>http://ww3.sinaimg.cn/thumbnail/4aff7849jw1eld3ig2axoj20gm349e4x.jpg</string>
				</dict>
				<dict>
					<key>thumbnail_pic</key>
					<string>http://ww1.sinaimg.cn/thumbnail/4aff7849jw1eld3ilihwvj20gm0mlacs.jpg</string>
				</dict>
				<dict>
					<key>thumbnail_pic</key>
					<string>http://ww1.sinaimg.cn/thumbnail/4aff7849jw1eld3imczoej20gm0bdn0l.jpg</string>
				</dict>
				<dict>
					<key>thumbnail_pic</key>
					<string>http://ww1.sinaimg.cn/thumbnail/4aff7849jw1eld3in4ixyj20gm0bdjud.jpg</string>
				</dict>
				<dict>
					<key>thumbnail_pic</key>
					<string>http://ww4.sinaimg.cn/thumbnail/4aff7849jw1eld3ins0suj20gm0metdr.jpg</string>
				</dict>
				<dict>
					<key>thumbnail_pic</key>
					<string>http://ww3.sinaimg.cn/thumbnail/4aff7849jw1eld3iodc5vj20gm0mfq80.jpg</string>
				</dict>
				<dict>
					<key>thumbnail_pic</key>
					<string>http://ww1.sinaimg.cn/thumbnail/4aff7849jw1eld3ioypnyj20gm0b4jtf.jpg</string>
				</dict>
				<dict>
					<key>thumbnail_pic</key>
					<string>http://ww1.sinaimg.cn/thumbnail/4aff7849jw1eld3iprbb1j20gm0m0dkf.jpg</string>
				</dict>
				<dict>
					<key>thumbnail_pic</key>
					<string>http://ww3.sinaimg.cn/thumbnail/4aff7849jw1eld3iqd3dsj20gm0mejtz.jpg</string>
				</dict>
			</array>
			<key>reposts_count</key>
			<integer>25</integer>
			<key>source</key>
			<string>&lt;a href="http://weibo.com/" rel="nofollow"&gt;微博 weibo.com&lt;/a&gt;</string>
			<key>text</key>
			<string>痞帅！布拉德·皮特登上《Details》杂志封面及内页美图欣赏！男神老了也有韵味儿~~~[花心][亲亲][得意地笑]</string>
			<key>user</key>
			<dict>
				<key>idstr</key>
				<string>1258256457</string>
				<key>mbrank</key>
				<integer>6</integer>
				<key>mbtype</key>
				<integer>12</integer>
				<key>name</key>
				<string>Houson猴姆</string>
				<key>profile_image_url</key>
				<string>http://tp2.sinaimg.cn/1258256457/50/5616578718/1</string>
				<key>vip</key>
				<integer>1</integer>
			</dict>
		</dict>
		<dict>
			<key>attitudes_count</key>
			<integer>588</integer>
			<key>comments_count</key>
			<integer>118</integer>
			<key>created_at</key>
			<string>Thu Oct 16 17:03:55 +0800 2014</string>
			<key>idstr</key>
			<string>3766345626239940</string>
			<key>pic_urls</key>
			<array/>
			<key>reposts_count</key>
			<integer>15</integer>
			<key>retweeted_status</key>
			<dict>
				<key>attitudes_count</key>
				<integer>286</integer>
				<key>comments_count</key>
				<integer>44</integer>
				<key>created_at</key>
				<string>Thu Oct 16 15:44:38 +0800 2014</string>
				<key>idstr</key>
				<string>3766325673345032</string>
				<key>pic_urls</key>
				<array>
					<dict>
						<key>thumbnail_pic</key>
						<string>http://ww4.sinaimg.cn/thumbnail/e7a60ab1gw1eld1momv4zj20m80etdjm.jpg</string>
					</dict>
					<dict>
						<key>thumbnail_pic</key>
						<string>http://ww1.sinaimg.cn/thumbnail/e7a60ab1gw1eld1mkleskj20m80et0wh.jpg</string>
					</dict>
					<dict>
						<key>thumbnail_pic</key>
						<string>http://ww2.sinaimg.cn/thumbnail/e7a60ab1gw1eld1mmdg1sj20m80etwhp.jpg</string>
					</dict>
					<dict>
						<key>thumbnail_pic</key>
						<string>http://ww3.sinaimg.cn/thumbnail/e7a60ab1gw1eld1mpy7zvj20m80fz792.jpg</string>
					</dict>
					<dict>
						<key>thumbnail_pic</key>
						<string>http://ww4.sinaimg.cn/thumbnail/e7a60ab1gw1eld1mne5tkj20m80fgwi1.jpg</string>
					</dict>
				</array>
				<key>reposts_count</key>
				<integer>60</integer>
				<key>source</key>
				<string>&lt;a href="http://weibo.com/" rel="nofollow"&gt;微博 weibo.com&lt;/a&gt;</string>
				<key>text</key>
				<string>电视剧《1931年的爱情》@张亮Sean 戏份杀青，并感激导演元德的细心指教。从电影中角色迅速脱离穿越民国戏，由于时间限制，他每日要完成约16场戏份量，这也是考验一个演员体力和心力的时候。无论拍摄节奏多快，他坦言：“自己的戏份别人无法代替，只想收拾好心态尽力演好”。新浪：http://t.cn/R7LWLAc</string>
				<key>user</key>
				<dict>
					<key>idstr</key>
					<string>3886418609</string>
					<key>mbrank</key>
					<integer>0</integer>
					<key>mbtype</key>
					<integer>0</integer>
					<key>name</key>
					<string>张亮Studio</string>
					<key>profile_image_url</key>
					<string>http://tp2.sinaimg.cn/3886418609/50/40066154168/0</string>
					<key>vip</key>
					<integer>0</integer>
				</dict>
			</dict>
			<key>source</key>
			<string>&lt;a href="http://app.weibo.com/t/feed/5yiHuw" rel="nofollow"&gt;iPhone 6 Plus&lt;/a&gt;</string>
			<key>text</key>
			<string>沈悦杀青了！从此，佘山镇车墩村儿的乡亲们又恢复了往日的平静……火红的太阳冉冉升起，街道上又可以看到人来人往，幸福……（此处拉长音）又回来了……#1931年的爱情# </string>
			<key>user</key>
			<dict>
				<key>idstr</key>
				<string>1265061803</string>
				<key>mbrank</key>
				<integer>3</integer>
				<key>mbtype</key>
				<integer>11</integer>
				<key>name</key>
				<string>张亮Sean</string>
				<key>profile_image_url</key>
				<string>http://tp4.sinaimg.cn/1265061803/50/5701051442/1</string>
				<key>vip</key>
				<integer>1</integer>
			</dict>
		</dict>
		<dict>
			<key>attitudes_count</key>
			<integer>16</integer>
			<key>comments_count</key>
			<integer>8</integer>
			<key>created_at</key>
			<string>Thu Oct 16 17:03:45 +0800 2014</string>
			<key>idstr</key>
			<string>3766345583484353</string>
			<key>pic_urls</key>
			<array/>
			<key>reposts_count</key>
			<integer>5</integer>
			<key>source</key>
			<string>&lt;a href="http://app.weibo.com/t/feed/1tqBja" rel="nofollow"&gt;360安全浏览器&lt;/a&gt;</string>
			<key>text</key>
			<string>【10月16日17时头条新闻要闻回顾】习近平：不要搞奇奇怪怪的建筑；明夜起京津冀等地雾霾再起，局地有重度霾；香港占中引拥堵，周润发郭富城等被迫乘地铁；独家对话加藤嘉一：对中日关系不乐观不悲观；东莞官员被曝通奸 涉事女子称他把我当性伴侣(图)。详见：http://t.cn/R7L3rs9</string>
			<key>user</key>
			<dict>
				<key>idstr</key>
				<string>1618051664</string>
				<key>mbrank</key>
				<integer>0</integer>
				<key>mbtype</key>
				<integer>0</integer>
				<key>name</key>
				<string>头条新闻</string>
				<key>profile_image_url</key>
				<string>http://tp1.sinaimg.cn/1618051664/50/5661558324/0</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
		</dict>
		<dict>
			<key>attitudes_count</key>
			<integer>10</integer>
			<key>comments_count</key>
			<integer>13</integer>
			<key>created_at</key>
			<string>Thu Oct 16 17:03:39 +0800 2014</string>
			<key>idstr</key>
			<string>3766345558316497</string>
			<key>pic_urls</key>
			<array>
				<dict>
					<key>thumbnail_pic</key>
					<string>http://ww4.sinaimg.cn/thumbnail/68550a99jw1eld3pmck3cj20ku112wis.jpg</string>
				</dict>
				<dict>
					<key>thumbnail_pic</key>
					<string>http://ww4.sinaimg.cn/thumbnail/68550a99jw1eld3ps9ok9j20ku112mz6.jpg</string>
				</dict>
				<dict>
					<key>thumbnail_pic</key>
					<string>http://ww3.sinaimg.cn/thumbnail/68550a99jw1eld3puvdawj20ku112tbe.jpg</string>
				</dict>
				<dict>
					<key>thumbnail_pic</key>
					<string>http://ww2.sinaimg.cn/thumbnail/68550a99jw1eld3pjm1y4j20f10qp76h.jpg</string>
				</dict>
				<dict>
					<key>thumbnail_pic</key>
					<string>http://ww1.sinaimg.cn/thumbnail/68550a99jw1eld3q6xgymj20f10qpgnq.jpg</string>
				</dict>
				<dict>
					<key>thumbnail_pic</key>
					<string>http://ww3.sinaimg.cn/thumbnail/68550a99jw1eld3x5077lj20hq0vkjto.jpg</string>
				</dict>
				<dict>
					<key>thumbnail_pic</key>
					<string>http://ww2.sinaimg.cn/thumbnail/68550a99jw1eld3x0zqzwj20hq0vkmz2.jpg</string>
				</dict>
				<dict>
					<key>thumbnail_pic</key>
					<string>http://ww3.sinaimg.cn/thumbnail/68550a99jw1eld3x90lspj20hg0tp792.jpg</string>
				</dict>
			</array>
			<key>reposts_count</key>
			<integer>1</integer>
			<key>source</key>
			<string>&lt;a href="http://app.weibo.com/t/feed/3o33sO" rel="nofollow"&gt;iPhone 6&lt;/a&gt;</string>
			<key>text</key>
			<string>前天打开微博发现密码错误自动被退出。被盗号替我做很多事。本来不想说此事。现在又来各种假微信来冒充我。同时两个假微信。提醒大家，我微信不加不认识的朋友，如果你加了我，一定不是我。不要受骗。ps 刚刚那个不是我的手机号，因为换号很久了。pps刚才有几人留言她们也和假微信有联系。真是水逆。</string>
			<key>user</key>
			<dict>
				<key>idstr</key>
				<string>1750403737</string>
				<key>mbrank</key>
				<integer>1</integer>
				<key>mbtype</key>
				<integer>2</integer>
				<key>name</key>
				<string>何穗</string>
				<key>profile_image_url</key>
				<string>http://tp2.sinaimg.cn/1750403737/50/5708279138/0</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
		</dict>
		<dict>
			<key>attitudes_count</key>
			<integer>4</integer>
			<key>comments_count</key>
			<integer>0</integer>
			<key>created_at</key>
			<string>Thu Oct 16 17:03:11 +0800 2014</string>
			<key>idstr</key>
			<string>3766345445398502</string>
			<key>pic_urls</key>
			<array>
				<dict>
					<key>thumbnail_pic</key>
					<string>http://ww4.sinaimg.cn/thumbnail/8a15a1ccjw1eld3wsmhl4g206k057hdv.gif</string>
				</dict>
			</array>
			<key>reposts_count</key>
			<integer>1</integer>
			<key>source</key>
			<string>&lt;a href="http://app.weibo.com/t/feed/3j6BDx" rel="nofollow"&gt;孔明社交管理&lt;/a&gt;</string>
			<key>text</key>
			<string>隐遁之术！次奥！被愚蠢的人类发现了！[哼]</string>
			<key>user</key>
			<dict>
				<key>idstr</key>
				<string>2316673484</string>
				<key>mbrank</key>
				<integer>0</integer>
				<key>mbtype</key>
				<integer>0</integer>
				<key>name</key>
				<string>每日幽默趣事</string>
				<key>profile_image_url</key>
				<string>http://tp1.sinaimg.cn/2316673484/50/5630373746/0</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
		</dict>
		<dict>
			<key>attitudes_count</key>
			<integer>1</integer>
			<key>comments_count</key>
			<integer>1</integer>
			<key>created_at</key>
			<string>Thu Oct 16 17:02:53 +0800 2014</string>
			<key>idstr</key>
			<string>3766345365698144</string>
			<key>pic_urls</key>
			<array>
				<dict>
					<key>thumbnail_pic</key>
					<string>http://ww1.sinaimg.cn/thumbnail/6797d866tw1eld3wftwi4j20do1auahk.jpg</string>
				</dict>
			</array>
			<key>reposts_count</key>
			<integer>1</integer>
			<key>source</key>
			<string>&lt;a href="http://app.weibo.com/t/feed/1tqBja" rel="nofollow"&gt;360安全浏览器&lt;/a&gt;</string>
			<key>text</key>
			<string>#燕都提醒#【[话筒]下月1日-12日，承德限号！】10月20日起至11月12日，承德交警将在市区开展车辆限制行驶行动，承德市所有社会、单位车辆均在限行之列。24日至31日，对违反限行规定的，将进行教育引导。11月1日起，不按规定行车的，将面临处罚。（@河北交通承德站 ）</string>
			<key>user</key>
			<dict>
				<key>idstr</key>
				<string>1738004582</string>
				<key>mbrank</key>
				<integer>0</integer>
				<key>mbtype</key>
				<integer>0</integer>
				<key>name</key>
				<string>燕赵都市报</string>
				<key>profile_image_url</key>
				<string>http://tp3.sinaimg.cn/1738004582/50/22845170776/1</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
		</dict>
		<dict>
			<key>attitudes_count</key>
			<integer>2</integer>
			<key>comments_count</key>
			<integer>0</integer>
			<key>created_at</key>
			<string>Thu Oct 16 17:02:42 +0800 2014</string>
			<key>idstr</key>
			<string>3766345319916902</string>
			<key>pic_urls</key>
			<array/>
			<key>reposts_count</key>
			<integer>2</integer>
			<key>retweeted_status</key>
			<dict>
				<key>attitudes_count</key>
				<integer>50</integer>
				<key>comments_count</key>
				<integer>18</integer>
				<key>created_at</key>
				<string>Thu Oct 16 16:12:23 +0800 2014</string>
				<key>idstr</key>
				<string>3766332656589685</string>
				<key>pic_urls</key>
				<array>
					<dict>
						<key>thumbnail_pic</key>
						<string>http://ww4.sinaimg.cn/thumbnail/b5334c09gw1eld2ff8bctj20c80jm764.jpg</string>
					</dict>
					<dict>
						<key>thumbnail_pic</key>
						<string>http://ww1.sinaimg.cn/thumbnail/b5334c09gw1eld2fh6j58j20c80rlabu.jpg</string>
					</dict>
					<dict>
						<key>thumbnail_pic</key>
						<string>http://ww3.sinaimg.cn/thumbnail/b5334c09gw1eld2fj11twj20c80edgn0.jpg</string>
					</dict>
					<dict>
						<key>thumbnail_pic</key>
						<string>http://ww1.sinaimg.cn/thumbnail/b5334c09gw1eld2flh6qhj20c80osjth.jpg</string>
					</dict>
					<dict>
						<key>thumbnail_pic</key>
						<string>http://ww3.sinaimg.cn/thumbnail/b5334c09gw1eld2fmqbmfj20c80h7wgg.jpg</string>
					</dict>
					<dict>
						<key>thumbnail_pic</key>
						<string>http://ww2.sinaimg.cn/thumbnail/b5334c09gw1eld2fp8r1kj20c80h9tad.jpg</string>
					</dict>
					<dict>
						<key>thumbnail_pic</key>
						<string>http://ww4.sinaimg.cn/thumbnail/b5334c09gw1eld2frsa05j20c80h8ace.jpg</string>
					</dict>
					<dict>
						<key>thumbnail_pic</key>
						<string>http://ww1.sinaimg.cn/thumbnail/b5334c09gw1eld2ful4xnj20c80hxjtm.jpg</string>
					</dict>
					<dict>
						<key>thumbnail_pic</key>
						<string>http://ww1.sinaimg.cn/thumbnail/b5334c09gw1eld2fw06nsj20bk0gk75n.jpg</string>
					</dict>
				</array>
				<key>reposts_count</key>
				<integer>375</integer>
				<key>source</key>
				<string>&lt;a href="http://weibo.com/" rel="nofollow"&gt;微博 weibo.com&lt;/a&gt;</string>
				<key>text</key>
				<string>【手把手教你做水煮鱼】无辣不欢的吃货们还等啥？一点都不难，赶紧上啊！[馋嘴] @999道美食精选</string>
				<key>user</key>
				<dict>
					<key>idstr</key>
					<string>3040037897</string>
					<key>mbrank</key>
					<integer>4</integer>
					<key>mbtype</key>
					<integer>12</integer>
					<key>name</key>
					<string>999道美食精选</string>
					<key>profile_image_url</key>
					<string>http://tp2.sinaimg.cn/3040037897/50/40067281675/0</string>
					<key>vip</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>source</key>
			<string>&lt;a href="http://app.weibo.com/t/feed/1tqBja" rel="nofollow"&gt;360安全浏览器&lt;/a&gt;</string>
			<key>text</key>
			<string>【手把手教你做水煮鱼】[话筒]</string>
			<key>user</key>
			<dict>
				<key>idstr</key>
				<string>2206430561</string>
				<key>mbrank</key>
				<integer>5</integer>
				<key>mbtype</key>
				<integer>12</integer>
				<key>name</key>
				<string>美食为王</string>
				<key>profile_image_url</key>
				<string>http://tp2.sinaimg.cn/2206430561/50/22819578441/0</string>
				<key>vip</key>
				<integer>1</integer>
			</dict>
		</dict>
		<dict>
			<key>attitudes_count</key>
			<integer>0</integer>
			<key>comments_count</key>
			<integer>0</integer>
			<key>created_at</key>
			<string>Thu Oct 16 17:02:30 +0800 2014</string>
			<key>idstr</key>
			<string>3766345269222205</string>
			<key>pic_urls</key>
			<array>
				<dict>
					<key>thumbnail_pic</key>
					<string>http://ww3.sinaimg.cn/thumbnail/725f7817gw1eld3pq5hleg207a0791ky.gif</string>
				</dict>
			</array>
			<key>reposts_count</key>
			<integer>0</integer>
			<key>source</key>
			<string>&lt;a href="http://weibo.com/" rel="nofollow"&gt;微博 weibo.com&lt;/a&gt;</string>
			<key>text</key>
			<string>进个乌龙球都这么拼，也是醉了！</string>
			<key>user</key>
			<dict>
				<key>idstr</key>
				<string>1918859287</string>
				<key>mbrank</key>
				<integer>0</integer>
				<key>mbtype</key>
				<integer>0</integer>
				<key>name</key>
				<string>500彩票网官方微博</string>
				<key>profile_image_url</key>
				<string>http://tp4.sinaimg.cn/1918859287/50/40052495780/1</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
		</dict>
		<dict>
			<key>attitudes_count</key>
			<integer>1</integer>
			<key>comments_count</key>
			<integer>0</integer>
			<key>created_at</key>
			<string>Thu Oct 16 17:01:41 +0800 2014</string>
			<key>idstr</key>
			<string>3766345068410443</string>
			<key>pic_urls</key>
			<array>
				<dict>
					<key>thumbnail_pic</key>
					<string>http://ww2.sinaimg.cn/thumbnail/6d5a32d5jw1eld3v8mb17j20c808amxq.jpg</string>
				</dict>
			</array>
			<key>reposts_count</key>
			<integer>2</integer>
			<key>source</key>
			<string>&lt;a href="http://app.weibo.com/t/feed/tn6Tg" rel="nofollow"&gt;笑话学前班&lt;/a&gt;</string>
			<key>text</key>
			<string>【高校雷人Cosplay公告!!】禁止Cos钢铁侠，提倡学生Cos喜洋洋，虹猫蓝兔等国产动漫人物。。。 #高校千万打造封神台#</string>
			<key>user</key>
			<dict>
				<key>idstr</key>
				<string>1834627797</string>
				<key>mbrank</key>
				<integer>6</integer>
				<key>mbtype</key>
				<integer>12</integer>
				<key>name</key>
				<string>笑话学前班</string>
				<key>profile_image_url</key>
				<string>http://tp2.sinaimg.cn/1834627797/50/40021472229/0</string>
				<key>vip</key>
				<integer>1</integer>
			</dict>
		</dict>
		<dict>
			<key>attitudes_count</key>
			<integer>0</integer>
			<key>comments_count</key>
			<integer>0</integer>
			<key>created_at</key>
			<string>Thu Oct 16 17:01:39 +0800 2014</string>
			<key>idstr</key>
			<string>3766345060017591</string>
			<key>pic_urls</key>
			<array/>
			<key>reposts_count</key>
			<integer>0</integer>
			<key>retweeted_status</key>
			<dict>
				<key>attitudes_count</key>
				<integer>4</integer>
				<key>comments_count</key>
				<integer>5</integer>
				<key>created_at</key>
				<string>Thu Oct 16 09:10:08 +0800 2014</string>
				<key>idstr</key>
				<string>3766226393855505</string>
				<key>pic_urls</key>
				<array>
					<dict>
						<key>thumbnail_pic</key>
						<string>http://ww1.sinaimg.cn/thumbnail/77161275gw1elcq8jft5mj20c80h5417.jpg</string>
					</dict>
				</array>
				<key>reposts_count</key>
				<integer>11</integer>
				<key>source</key>
				<string>&lt;a href="http://weibo.com/" rel="nofollow"&gt;微博 weibo.com&lt;/a&gt;</string>
				<key>text</key>
				<string>【公安县民警被授予“荆州市见义勇为先进分子”称号】日前，荆州市见义勇为促进会授予苏国军“荆州市见义勇为先进分子”荣誉称号，颁发奖金3000元。苏国军是公安县公安局退休民警，今年8月18日晚，他面对交通肇事撞死1人逃逸、后又行凶伤人的犯罪分子，在身体负伤的情况下，带领现场群众将歹徒擒获。</string>
				<key>user</key>
				<dict>
					<key>idstr</key>
					<string>1997935221</string>
					<key>mbrank</key>
					<integer>0</integer>
					<key>mbtype</key>
					<integer>0</integer>
					<key>name</key>
					<string>平安荆州</string>
					<key>profile_image_url</key>
					<string>http://tp2.sinaimg.cn/1997935221/50/40033508302/1</string>
					<key>vip</key>
					<integer>0</integer>
				</dict>
			</dict>
			<key>source</key>
			<string>&lt;a href="http://app.weibo.com/t/feed/e0WUS" rel="nofollow"&gt;微博桌面&lt;/a&gt;</string>
			<key>text</key>
			<string>#荆州微记者团# [good]//@fun4娱乐主播:#荆州微记者团#@楚网 @荆州晚报 浩然正气，致敬！ @-愿无岁月可回头- @公安县生活网 @平安公安 //@荆州交警一大队:【公安县民警被授予“荆州市见义勇为先进分子”称号】@湖北高速交警公安大队@fun4娱乐主播 @龙在楚天</string>
			<key>user</key>
			<dict>
				<key>idstr</key>
				<string>1716850214</string>
				<key>mbrank</key>
				<integer>0</integer>
				<key>mbtype</key>
				<integer>0</integer>
				<key>name</key>
				<string>楚网</string>
				<key>profile_image_url</key>
				<string>http://tp3.sinaimg.cn/1716850214/50/40063295175/0</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
		</dict>
	</array>
	<key>total_number</key>
	<integer>1681</integer>
</dict>
</plist>
